/* Home section styling */
.home-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
    justify-content: center; /* Center vertically */
    height: 50vh; /* Full viewport height */
    background-color: #f5f5f6; /* Background color for the whole site */
    margin: 0;
    padding: 0 20px; /* Adjust padding as needed */
    box-sizing: border-box; /* Include padding in total width and height */
    overflow: hidden; /* Hide overflow to ensure full viewport content */
}

/* Intro text styling */
.intro-text {
    font-size: 2em; /* Adjust as needed */
    font-weight: 100; /* Light font weight */
    color: #1a1b20; /* Color for the intro text */
    margin-bottom: 20px; /* Space between intro text and typing text */
    margin-left: 207px; /* Move to the right */
}

/* Typing effect styling */
.typing-text {
    font-size: 8em; /* Large font size */
    font-weight: 10; /* Light font weight */
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); /* Gradient background */
    -webkit-background-clip: text; /* Clip background to text */
    color: transparent; /* Make text color transparent to show gradient */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow */
    border-right: 0.05em solid transparent; /* Cursor (transparent initially) */
    animation: typing 7s steps(60, end) 1s infinite, cursor-blink 0.75s step-end 3, reverse 6s steps(60, end) 1s infinite; /* Animations */
    text-align: left; /* Align text to the left */
    margin-left: 200px; /* Move to the right */
    width: fit-content; /* Ensure it fits the text width */
    display: inline-block; /* Ensure it fits text */
}

/* Typing animation */
@keyframes typing {
    0% { width: 0; }
    50% { width: 56%; }
    100% { width: 0; }
}

/* Reversing animation */
@keyframes reverse {
    0%, 100% { width: 45%; }
    50% { width: 0; }
}
