/* src/components/Navbar.css */
.navbar {
    background-color: #1d448b; /* NBA blue */
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; /* Apply SF Pro Display font */
}

.navbar-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin: 0 15px;
}

.navbar-link {
    text-decoration: none;
    color: #FFFFFF; /* White text */
    font-size: 0.9em; /* Adjust font size to be smaller */
    font-weight: 200; /* Use a lighter font weight for thinner text */
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #ca0d2c; /* NBA red */
}
